*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #191343;
    padding: 0 100px;
    border-bottom: 4px solid #401E63;
   
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s ease;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
nav div{
    color: white;
    font-size: 30px;
    letter-spacing: 0.2em;
    cursor: pointer;
}

/* hero area code started */


header{
    background-image: url(./pic/website\ banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.searchbox-iconr-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox-iconr-parent i{
    background-color: grey;
    color: red;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
}
.searchbox-iconr-parent input{
    width: 500px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;
    outline: none;
}

/* main section started */
main {
    background-color: #2D236A;
    padding: 20px;
}
#main-section {
   width: 1100px;
   margin: 0 auto;
   padding: 50px 0;
}
#latest-video-parent {
    display: flex;
    justify-content: space-between;
}
.latest-video-text {
    font-size: 25px;
    color: #04AA6D;
    font-weight: bold;
}
.latest-pages {
    color: #04AA6D;
}
.latest-pages span {
    color: black;
    background-color: #f3e9e9;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
}

#single-item-parents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    margin-top: 25px;
}
.single-item{
    height: 250px;
    border: 3px solid gray;
}
.single-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.single-item:hover img{
      transform: scale(1.1);
      border-radius: 20px;
}
.single-item div{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
}

/* previous-next-parent */

#previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#previous-next-parent h3 a {
    background-color: #04AA6D;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
}
#previous-next-parent h3 a:hover {
    background-color: #007c4f;
}
#previous-next-parent a {
    text-decoration: none;
    color: white;
}
#previous-next-parent div a {
    margin: 0 10px;
    background-color: antiquewhite;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #464444;
}
#previous-next-parent div a:first-child {
    background-color: #04AA6D;
    
}